<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="px-hosted" value="https://repository.walmart.com/repository/nuget-hosted" />
        <add key="px-snapshot" value="https://repository.walmart.com/repository/nuget-snapshot" />
    </packageSources>
     <config>
        <add key="http_proxy" value="http://sysproxy.wal-mart.com:8080" />
        <add key="https_proxy" value="http://sysproxy.wal-mart.com:8080" />
        <add key="no_proxy" value="*.local,*.localhost,*.wal-mart.com,wamnetNAD,*.walmart.com,wmlink,*.walmartlabs.com" />
        <add key="signatureValidationMode" value="accept" />
    </config>
</configuration>